  /*reset*/
  *{
    box-sizing: border-box;
   }
   body,h1,h2,h3,h4,h5,h6,p,ul,li,dl,dt,dd{
     margin: 0;
     padding: 0;
   }
   a{
     text-decoration: none;
   }
   ul{
     list-style: none;
   }
   /*reset*/
   
   /*common css*/
   .clearfix::after {
    content:'';
    display: block;
    clear:both;
   }
   .botton{
     
   }
   body{
     font: 14px/1.5 arial;
     background-color: #282722;
     color:#C5BF9E;
   }
   .layout{
     min-width: 900px;
     max-width: 1280px;
     margin: 0 auto;
   }
   /*common css*/
   