
html,
body,
section {
  height: 100%;
  overflow: hidden;
  /*溢出 */
}

.layout {
  margin: 0 auto;
  width: 600px;
}

@media(min-width: 700px) {
  .layout {
    width: 600px;
  }
}

@media(min-width: 900px) {
  .layout {
    width: 800px;
  }
}

@media(min-width: 1000px) {
  .layout {
    width: 900px;
  }
}

@media(min-width: 1200px) {
  .layout {
    width: 1100px;
  }
}

#page-cover {
  display: none;
}

.bg {
  position: absolute;
  z-index: -1;
  left: -10px;
  top: -10px;
  bottom: -10px;
  right: -10px;
  background: url(https://cloud.hunger-valley.com/music/public_tuijian_spring.jpg-big) center center no-repeat;
  background-size: cover;
  filter: blur(4px);
}

.bg::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

main {
  padding-top: 12vh;
  height: calc(100% - 24vh);
  /* border: blue solid 1px; */
}

main::after {
  content: '';
  display: block;
  clear: both;
}

main .aside {
  float: left;
}

main .aside>figure {
  width: 46vh;
  height: 46vh;
  border-radius: 23vh;
  background-image: url(https://cloud.hunger-valley.com/music/public_tuijian_spring.jpg-middle);
  background-size: cover;
  background-position: center center;
  box-shadow: 0px -.25vh .25vh .1vh rgba(255, 255, 255, 0.6);
}


main .aside .action {
  display: flex;
  margin-top: 5vh;
  margin-left: 1vh;
}

main .aside .iconfont {
  flex: 1;
  text-align: center;
  font-size: 5vh;
  color: rgba(255, 255, 255, 0.3);
  transition: color .4s;
  cursor: pointer;
}

main .aside .iconfont:hover {
  color: #fff;

}

main .aside .iconfont.active {
  color: #ff5722;
}


main .detail {
  margin-left: 56vh;
  color: #fff;
}

main .detail .tag {
  font-size: 2vh;
  padding: .4em .8em;
  background: #BC6D32;
}

main .detail h1 {
  font-size: 6vh;
  margin: 3vh;
}

main .icons {
  display: flex;
  font-size: 3vh;
  margin-top: 12vh;
}

main .icons li {
  flex: 1;
}

main .icons .iconfont {
  font-size: 3vh;
  margin-right: 1vh;
  color: rgba(255, 255, 255, 0.8);
}

main .area-bar {
  margin-top: 10vh;
  display: flex;
  align-items: center;
}

main .area-bar .bar {
  position: relative;
  flex: 1;
  height: .8vh;
  border-radius: .2vh;
  background: rgba(255, 255, 255, 0.4);
}

main .area-bar .current-time {
  width: 3vh;
  font-size: 2vh;
  margin-left: 1vh;

}

main .area-bar .bar-progress {
  position: absolute;
  height: .8vh;
  width: 0%;
  transition: width .8s;
  background-color: #fff;
  border-radius: .2vh;
}

main .author {
  font-size: 2vh;
  margin-top: 2vh;
  color: rgba(255, 255, 255, 0.6);

}

main .lyric {
  font-size: 3vh;
  margin-top: 3vh;
  color: rgba(255, 255, 255, 1);

}

footer {
  height: 24vh;
  color: #fff;
  background: rgba(230, 223, 223, 0.2);
  /* border: red solid 2px; */
  box-shadow: 0px -.25vh .25vh  rgba(255, 255, 255, 0.6);
}

footer>.layout {
  position: relative;
}

footer .box {
  position: relative;
  overflow: hidden;
  height: 24vh;
}

footer ul {
  position: absolute;
  left: 0;
}

footer ul::after {
  content: '';
  display: block;
  clear: both;
}

footer li {
  float: left;
  margin-top: 1vh;
  margin: 2vh 2vh 0 2vh;
  width: 20vh;
  height: 20vh;
  text-align: center;
  cursor: pointer;
}

footer li:hover {
  box-shadow: 0 0 .5vh .5vh rgba(255, 255, 255, 0.8);
}

footer li .cover {
  height: 16vh;
  background-size: cover;
  background-position: center center;
}

footer h3 {
  font-size: 2vh;
  color: rgba(255, 255, 255, 0.6);

  position: absolute; 
  margin-top:17vh;
  margin-left: 5vh;
 
}

footer li.active {
  box-shadow: 0 0 .5vh .5vh rgba(255, 255, 255, 0.6);
}

footer .iconfont {
  position: absolute;
  top: 4vh;
  font-size: 6vh;
  color: rgba(255, 255, 255, 0.4);
  opacity: 0;
  transition: all .4s;
  cursor: pointer;
  margin-top: 3vh;

}

footer:hover .iconfont {
  opacity: 1;
}

footer .iconfont:hover {
  color: rgba(255, 255, 255, 0.8);
}

footer .icon-left {
  left: -8vh;

}

footer .icon-right {
  right: -8vh;
}

.boomText{
   display:  inline-block;
   opacity: 0;
}



@-webkit-keyframes rotation{
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
  }
  
  .imgRotate{
  -webkit-transform: rotate(360deg);
  animation: rotation 18s linear infinite;
  -moz-animation: rotation 18s linear infinite;
  -webkit-animation: rotation 18s linear infinite;
  -o-animation: rotation 18s linear infinite;
  }
  
  